/* worksans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

/* shared styles */

*{
    font-family: 'Work Sans', sans-serif;
}

.primary-btn{
    border-radius: 8px;
    background-color: #ff900e;
    padding: 20px 25px;
    color: #fff;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;
}
.primary-discription{
    color: #727272;
    margin-bottom: 10px;
}

/* header section starts here */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* navigation section starts here */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-titel{
    font-size: 2rem;
}

nav > ul{
    display: flex;
    
}

nav  li{
    list-style: none;
    margin-right: 40px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* navigation section ends here */
/* banner section start's here */

.banner-text-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-titel{
    font-size: 4rem;
    font-weight: 700;
    color: #424242;

}

.banner-discription{
    color: #727272;
}

.banner img{
    width: 100%;
    margin-top: 20px;
}

/* banner section ends here */

/* main section styles start's here */

main{
    max-width: 1440px;
    margin: 70px auto;
}



/* main section styles ends here */

/* Team section start's here */
.team-container{
        display: flex;
        
        align-items: center;
        
    }
.team-img-contaier{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
   

}
.team-content-container{
    padding-left: 70px;
    padding-right: 70px;
    
}
.team-titel{
    font-size: 3rem;
    margin-bottom: 0.5rem;
}
.ttitel1{
    color: #727272;
    font-weight: 500;
}
.ttitel2{
    color: #131313;
    font-weight: 700;
}
.ttitel3{
    color: #ff900e;
    font-weight: 700;
   
}


/* Team section ends here */






/* Responsive media queri start's here */

/* mobile divece start's here */
@media screen and (max-width:576px) {
    
    header{
        padding: 20px;

    }
    nav,
    .team-container
    {
        flex-direction: column;
    }
    .team-img-contaier{
        grid-template-columns: 1fr;
    }
    .team-content-container{
        padding: 0 20px;
        margin-top: 2rem;
    }


   
}
/* mobile divece ends here */

 /* medium divece start's here */

 @media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav {
        flex-direction: column;
    }
    .team-container{
        flex-direction: column;
        
    }
    .team-content-container{
        margin-top: 2rem;
    }
    
 }



/* medium divece ends here */


/* Responsive media queri ends here */

